<!DOCTYPE html>
<html ng-app='myapp'>
  <head>
    <meta charset="utf-8">
    <title>$http</title>
    <!-- $http 是 AngularJS 中的一个核心服务，用于读取远程服务器的数据。 -->
  </head>
  <body ng-controller='TestController'>
      <button ng-click='sendGet()'>用get发送ajax请求</button>
      <button ng-click='sendPost()'>用post发送ajax请求</button>
  <script src='angular/angular.min.js'></script>
  <script>
    //创建模块
      var app=angular.module('myapp',[]);
      app.controller('TestController',function($scope,$http){
            $scope.sendGet=function(){
                // $http.get(url, [config]).then(successCallback, errorCallback)
                $http.get('1.php').then(function(msg){
                      console.log(msg);
                      // Object {data: "服务器返回的数据", status: 200, config: Object, statusText: "OK"}
                })
            };
            $scope.sendPost=function(){
               // $http.post(url[,data][, config]).then(successCallback, errorCallback)
              $http.post('1.php').then(function(msg){
                  console.log(msg);
              })
            }
      });
  </script>
  </body>
</html>